<section  id="education" class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">Education</h1>
      <div class="columns box">
        <div class="column">
          <div>
            <p>Georgian College | Computer Programmer - 2016 – 2018</p>
            <p>2-year Diploma in Computer programming. <a href="http://www.georgiancollege.ca/programoutlines/201710/COPR.PDF" target="_blank">Program Outline</a></p><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22800.266043116848!2d-79.68656256304389!3d44.41196331105325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa3724b04a0b3%3A0x7894d4f2316bbb8d!2sGeorgian+College!5e0!3m2!1sen!2sca!4v1525227108710" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="column">
          <div>
            <p>Gobindgarh Public School | Grade 1 to 12 (1999 - 2015)</p>
            <p>Final High School grade: 82%. Studied Maths, Physics, Chemistry, Computer Science, Painting, and in high school</p>
            <iframe src="https://www.google.com/maps/d/embed?mid=1oNhFhSYeW-QsiZHrOIkP0wvMpYs" width="100%" height="400"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
