<section id="footer" class="hero is-dark">
  <div class="hero-body has-text-centered">
    <a href="#">
      <span class="icon">
        <i class="fas fa-angle-up"></i>
      </span>
    </a>
    <div class="columns">
      <div class="column">

      </div>
      <div class="column">
        <h2 class="title has-text-centered">Author - Sahil Verma</h2>
      </div>
      <div class="column">
        <a href="https://github.com/sahil-verma" class="fab fa-github fa-w-16 fa-2x" target="_blank"></a>
				<a href="https://www.linkedin.com/in/sahil-verma-6469ab124" class="fab fa-linkedin-in fa-w-16 fa-2x" target="_blank"></a>
				<a href="https://www.instagram.com/sahil.verma.1048/" class="fab fa-instagram fa-w-16 fa-2x" target="_blank"></a>
				<a href="https://plus.google.com/u/0/114575851994290451291" class="fab fa-google-plus-g fa-w-16 fa-2x" target="_blank"></a>
      </div>
    </div>
  </div>
</section>