<div class="footer">
	<footer class="text-center">
	  <a href="#" data-toggle="tooltip" data-placement="top" title="TO TOP">
		  <span class="glyphicon glyphicon-chevron-up"></span>
		</a><br>
		<div class="row" style="padding: 10px 0px 15px 0px;">
      <div class="col-md-4">
            
      </div>
      <div class="col-md-4">
        <p style="padding-top: 10px">Author - Sahil Verma</p> 
      </div>
      <div class="col-md-4">
        <a href="https://www.facebook.com/sahil.verma.1048" class="fa fa-facebook" target="_blank"></a>
        <a href="https://www.linkedin.com/in/sahil-verma-6469ab124" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://www.instagram.com/sahil.verma.1048/" class="fa fa-instagram" target="_blank"></a>
        <a href="" class="fa fa-snapchat-ghost" target="_blank"></a>
        <a href="https://plus.google.com/u/0/114575851994290451291" class="fa fa-google" target="_blank"></a>
      </div>
	  </div>
	</footer>
</div>
