#projects{
    padding:50px 15px 0px 15px;
}

.box, .front, .back{
    background-color: #f1f1f1;
}
.box h2{
    font-weight: bold;
    font-size: 1.3em;
}


/* This whole code is for rotating the projects*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);

	position: absolute;
	top: 0;
	left: 0;
}