<section id="work-experience" class="section has-text-grey-lightern is-bold">
 <div class="container">
  <div class="content">
    <div class="">
        <h1 class="title has-text-centered">Work Experience</h1>
        <div class="box">
          <h3>Webmaster</h3>
          <h5>SME Strategies Inc.</h5>
          <div>
            <p>Worked as the lead web developer for SME Strategies. My primary responsibilities included:</p>
            <ul>
              <li>Enhancement of the existing “Ontario Cottage Rentals” website</li>
              <li>Updating the web content according to business needs</li>
              <li>Maintenance of the websites backend and data sources</li>
              <li>Building, customizing and designing the themes based on client needs and user cases (CSS, JS, JQuery, HTML5, CSS frameworks like Bootstrap)</li>
              <li>Customizing plugins to support client needs (PHP, JavaScript)</li>
              <li>Effectively and efficiently meeting all the deadlines as well as communicating the websites progress to the Manager</li>
            </ul>
           </div>
        </div>
    </div>
    <div class="box">
        <h3>Web Developer</h3>
        <h5>Modern Institute of Computer Softwares</h5>
        <p>Worked as a full-stack web developer in a leading private educational institute and my primary tasks included:</p>
        <ul>
          <li>Developing, maintaining and updating website</li>
          <li>Meeting project deadlines in the most effective way</li>
          <li>Contribute in the website planning and wireframe development</li>
          <li>Worked as a project leader and acted as the customer facing part of the team, representing the business and the whole team</li>
        </ul>
    </div>
   </div>
 </div>
</section>

