.navbar{
  background-color: black;
  padding-bottom: 0px;
}
#navBar {
  margin: 1em auto;
  width: 70%;
}
.title{
  margin-bottom: 0em;
  font-size: 2.8em;
  font-family: serif;

}
h4{
  font-family: -webkit-body;
}


